.component {
    background-color: #ffffff;
    margin-top: 100px;
    height: 700px;
}

.title {
    display: flex;
    border-bottom: 1px solid #EFF0F2;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.content {
    padding: 5px 20px 5px 20px;
    background-color: #FFC36D30;
    border-bottom: 1px solid #EFF0F2;
}

.text {
    font-weight: 500;
}

.time {
    color: #9FA1A2;
    font-size: 12px;
}

.content-unread {
    padding: 5px 20px 5px 20px;
    border-bottom: 1px solid #EFF0F2;
}

.img {
    position: absolute;
    right: 20px;
}