.container {
    background-color: #ffffff;
    flex-wrap: wrap;
    height: 130vh;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.app-content {
    font-size: 20px;
}

.app-content-type {
    color: #F39C12;
    font-size: 20px;
    font-weight: 700;
}

.header {
    padding: 0 10px 0 10px;
    margin-bottom: 20px;
}

.text-head {
    font-size: 15px;
    margin-bottom: 10px;
}

.detail-item {
    font-size: 15px;
}

.detail-label {
    padding-left: 10px;
    font-size: 15px;
}

.detail-label1 {
    padding-left: 10px;
    display: flex;
    margin-bottom: 10px;
}

.network {
    display: flex;
    box-shadow: 10px 5px 10px #00000026;
    border-radius: 10px;
    width: 100%;
    padding: 5px 10px 5px 10px;
    border: 1px solid #EFF0F2;
    margin-bottom: 10px;
}

.content-network {
    margin-left: 15px;
    font-size: 14px;
    font-weight: 500;
}