.zalo-chat-widget {
    position: fixed !important;
    right: 0 !important;
    left: unset !important;
    /* top: 0 !important; */
    bottom: 50 !important;
    margin-bottom: 50px !important;
    margin-right: 20px !important;
}