.container {
    background-color: #ffffff;
    flex-wrap: wrap;
    padding: 0 10px 0 10px;
    height: 100vh;
}

.title {
    display: flex;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.btn {
    width: 100%;
    background-color: #F39C12;
    padding: 5px;
    color: #ffffff;
}