.component {
    background-color: #ffffff;
    flex-wrap: wrap;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.rating {
    background-color: #F39C12;
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.rank {
    color: #ffffff;
    font-weight: 700;
}

.full-name {
    color: #ffffff;
}

.table-view {
    padding-left: 20px;
    padding-right: 20px;
}

.content {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 20px;
    font-weight: 500;
}

.table {
    display: flex;
    /* justify-content: space-between; */
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}

.usename {
    font-size: 13px;
    margin: auto;
}

.img-ratings {
    object-fit: cover;
    width: 40px;
    height: 40px;
    border-radius: 50px;
}