.container {
    background-color: #ffffff;
    flex-wrap: wrap;
    height: 100vh;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.option-detail {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #EFEFEF;
}

.detail {
    margin: 10px 10px 10px 10px;
    display: grid;
}