.component-timeline {
    background-color: #ffffff;
    flex-wrap: wrap;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.gr {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: 0 5px 5px #00000026;
}

.custom {
    margin-top: 20px;
}

.point {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.a {
    background-color: red;
}

.b {
    background-color: rgb(77, 77, 77);
}