.component-chat {
    background-color: #ffffff;
    width: 100%;
    box-shadow: 0 5px 5px #00000026;
    flex-wrap: wrap;
}

.content {
    padding: 0 20px 270px 20px;
}

.img {
    margin: auto;
    padding: 20px 0 20px 0;
}

.text-head {
    font-size: 15px;
    font-weight: 700;
    padding-bottom: 20px;
}

.text-size {
    font-size: 12px;
    padding-bottom: 20px;
}

.live-chat-header {
    background-color: white;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #D9D9D9;
}

.title-chat-live {
    margin-left: 20px;
    font-size: 24px;
    font-weight: 500;
}

.gr-live-chat {
    display: flex;
    align-items: center;
}