.component-login {
    background-color: #ffffff;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 5px 5px #00000026;
    margin-top: 100px;
}

.img-login {
    background-color: #ffffff;
    margin: auto;
    padding-bottom: 20px;
    padding-top: 50px;
}

.form-login-app {
    margin: 0 30px 0 30px;
}

.custom_input-app {
    border: none;
    width: 100%;
    padding-top: 20px;
}

.custom_input-password {
    margin-bottom: 20px;

}

.custom-button-app {
    background-color: #F39C12;
    color: #ffffff;
    height: 45px;
    margin-top: 20px;
}


.custom-button-app:hover {
    border: none;
}

.register-app {
    display: flex;
    justify-content: space-between;
    padding: 0 10px 0 10px;
    margin-top: 10px;
}

.link_register-app {
    color: #F39C12;
    font-weight: 600;
    text-decoration-color: #F39C12;
}