.container {
    background-color: #ffffff;
    flex-wrap: wrap;
    height: 100vh;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.custom_input {
    width: 100%;
    background-color: #EFF0F2;
    margin-bottom: 10px;
    border: 1px solid #EFF0F2;
    padding: 5px;
}

.form {
    margin: 10px 10px 0 10px;
    padding: 5px 10px 0 10px;
}