.container {
    background-color: #ffffff;
    flex-wrap: wrap;
    min-height: 100vh;
    padding-bottom: 20px;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-bottom: 10px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.search {
    border: 1px solid #9FA1A2;
    border-radius: 20px;
    width: 80%;
    outline: none;
}

.total {
    display: flex;
    margin-top: 10px;
}

.btn {
    border: 1px solid #9FA1A2;
    border-radius: 20px;
    margin-right: 10px;
    padding: 5px;
    font-size: 12px;
}

.list {
    box-shadow: 5px 5px 10px #00000026;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    padding: 10px;
    margin: 10px 0 10px 0;
}

.about-item {
    display: flex;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-item {
    padding-left: 10px;
    padding-right: 10px;
}

.task {
    font-size: 10px;
    color: #919191;
}

.list-item {
    padding: 0 10px 0 10px;
}

.line-1 {
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

.task-ellip {
    white-space: nowrap;
    width: 250px;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    color: #919191;
}

.img-vector-app {
    width: 10px;
    height: 15px;
}