.container {
    background-color: #ffffff;
    flex-wrap: wrap;
}

.avt {
    margin: auto;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.detail {
    margin-top: 10px;
    padding: 0 10px 0 10px;
}

.upload {
    display: flex;
    justify-content: center;
    color: #F39C12;
    text-decoration: underline;
    margin-top: 10px;
}

.custom_input {
    width: 100%;
    margin-bottom: 20px;
    margin-top: 10px;
}

.gr {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.address {
    width: 55%;
}

.school {
    margin-top: 10px;
    width: 100%;
}

.info {
    margin-top: 20px;
}

.label {
    font-size: 20px;
    font-weight: 600;
}

.info-father {
    padding-bottom: 10px;
}

.save {
    width: 100%;
    background-color: #F39C12;
    margin-top: 20px;
    padding: 5px 20px 5px 20px;
    color: #ffffff;
    border-radius: 5px;
    margin-bottom: 20px;
}

.info-item {
    margin-right: 10px;
}