@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* background-color: #F39C12; */
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  /* width: 100%; */
}

.wrapper {
  /* max-width: 425px; */
  width: 100%;
}