.component {
    background-color: #F39C12;
    width: 100%;
    box-shadow: 0 5px 5px #00000026;
    flex-wrap: wrap;
    /* height: 100vh; */
}

.header {
    background-color: #F39C12;
}

/* .container {
    padding: 20px 20px 0;
    
} */

.home-board-section {
    height: 120px;
    position: relative;
    padding: 20px 20px 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.gr {
    display: flex;
    align-items: center;
}

.intro {
    padding-right: 30px;
    color: #ffffff;
    font-size: 18px;
}

.notify {
    color: #ffffff;
}

.avt {
    margin-right: 15px;
    border-radius: 50px;
}

.menu {
    background-color: #ffffff;
    box-shadow: 10px 10px 10px #00000026;
    border-radius: 20px;
    width: 90%;
    position: absolute;
    top: 4px;
    z-index: 100;
}

.group_item {
    display: flex;
    /* padding-left: 20px; */
}

.group {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 231, 231);
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 20px;
    padding-bottom: 10px;
}

.level {
    padding-left: 10px;
}

.icon {
    margin-left: 10px;
    color: #F7CC46;
}

.point {
    padding-right: 10px;
    color: #F7CC46;
    font-weight: 700;
}


.nav {
    padding-top: 20px;
    padding-bottom: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-right: 50px;
    margin-left: 50px;
}

.nav-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.img {
    margin: auto;
}

.detail-item {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #ffffff;
    padding-bottom: 10px;
    height: 100%;
}

.home-section {
    display: flex;
    justify-content: space-between;
    padding: 60px 20px 10px 20px;
}

.programme {
    font-weight: 700;
}

.view {
    color: #F39C12;
    /* color: #ffffff; */
}

.slider-item {
    border: 1px solid #9FA1A2;
    padding: 5px;
    border-radius: 10px;
}

.task-all {
    display: flex;
    justify-content: space-between;
}

.gr-task {
    padding: 5px;
}

.task {
    font-size: 10px;
    color: #919191;
}

.percent {
    font-size: 10px;
}

.slick-list {
    margin: 0 -5px;
}

.slick-slide>div {
    padding: 0 5px;
}

.detail2 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px 10px 20px;
}

.list {
    box-shadow: 5px 5px 10px #00000026;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.line-item {
    padding-left: 10px;
    padding-right: 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.about-item {
    display: flex;
}

.arrow {
    font-size: 40px;
    color: #F39C12;
}

.footer {
    background-color: #ffffff;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px 10px 30px;
    border-top: 1px solid #9FA1A2;
}

.home-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.img_footer {
    margin: auto;
}


.text-over {
    white-space: nowrap;
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.line-1 {
    white-space: nowrap;
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
}

@media (min-width: 375px) {
    .line-1 {
        white-space: nowrap;
        width: 230px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-decoration: none;
    }
}

.task-ellip {
    white-space: nowrap;
    width: calc(100vw - 150px);
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 10px;
    color: #919191;
}

.css-1xylxj1-MuiTypography-root-MuiLink-root {
    text-decoration: none;
}

.img-list {
    width: 100%;
    height: 100px !important;
    margin: 0 auto;
    border-radius: 10px;
    object-fit: cover;
}

/* Footer */


.footer-item {
    background-color: #ffffff;
    height: 72px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px 4px;
    border-top: 1px solid #9FA1A2;
    font-size: small;
}

.home-footer-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    text-decoration: none;
}

.img_footer-item {
    margin: auto;
}

/* .active-home {
    color: #F39C12;
} */

.footer-label {
    padding-top: 8px;
    font-size: small;
}

.txt-active-label {
    color: #F39C12;
}

/* start information */
.avt {
    border-radius: 50px;
    margin-right: 10px;
}

.option-detail {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #EFEFEF;
}

.detail {
    margin: 10px 10px 10px 10px;
    display: grid;
}

/* end information */
/* wiki */
.we {
    width: 100%;
    height: 100vh;
}

/* wiki */

/* chat header */

.chat-web {
    background-color: #ffffff;
    height: 100vh;
}

.gr-chat-gpt {
    border: 2px solid #F39C12;
    display: flex;
    margin: 30px 20px 20px 20px;
    padding: 20px;
    border-radius: 10px;
}

.great-ting {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 5px;
}

.introducation {
    font-size: 10px;
    color: #96989E;
}

.user-chat-web {
    padding: 20px;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
}

.name-avt-chat {
    margin-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.avt-chat-web {
    border-radius: 50px;
}

/* begin chatbox style */
.cs-message__content {
    background-color: #eee !important;
}

.cs-message--outgoing .cs-message__content {
    background-color: #ff9d09 !important;
    color: white !important;
}

.cs-message-input__content-editor {
    background-color: white;
}

.cs-message-input {
    margin: 20px 0 20px 0;
    border-bottom: 1px solid #D9D9D9;
}

.form-text-chat {
    height: 100%;
}

.cs-message-input {
    margin-bottom: 0 !important;
}

/* chat-gpt */

.gpt-chat-header {
    background-color: white;
    width: 100%;
    padding: 10px 20px 10px 20px;
    /* height: 15%; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title-chat-gpt {
    margin-left: 20px;
    font-size: 20px;
    font-weight: 500;
}

.gr-gpt {
    display: flex;
    align-items: center;
}

.gpt-main-container {
    height: calc(100vh - 100px) !important;
}

/* manage style */

.container-manage {
    background-color: #ffffff;
    height: 100vh;
}

.manage-infor {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #D9D9D9;
    margin-bottom: 10px;
}

.name-manage-infor {
    margin-left: 10px
}

.manage-task {
    background-color: #EFEFEF;
    padding: 5px;
    width: 95%;
    margin: auto;
}

.information-manage {
    padding-top: 10px;
}

.avt-manage-infor {
    border-radius: 50px;
}

/* list user style */

.gr-list-user {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #D9D9D9;
    padding: 15px;
}

.title-list-user {
    font-size: 16px;
    font-weight: 500;
}

.list-user-name {
    display: flex;
    margin-top: 20px;
    border-bottom: 1px solid #EFF0F2;
    padding-bottom: 20px;
    align-items: center;
}

.level-list {
    display: flex;
    align-items: center;
}

.rank-list-user {
    font-size: 14px;
    border-right: 1px solid #9FA1A2;
    color: #9FA1A2;
    padding: 0 10px 0 10px;
}

.rank-list-user1 {
    font-size: 14px;
    color: #9FA1A2;
    padding: 0 10px 0 10px;
}

.name-user {
    padding: 0 10px 0 10px;
    font-weight: 700;
    font-size: 16px;
}

.img-list-user {
    margin-left: 10px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    object-fit: cover;
}

/* point management style */

.component-point-management {
    padding: 0 10px 0 10px;
}

.search-point {
    /* margin-top: 10px; */
    width: 90%;
}

.gr-management {
    margin-top: 10px;
}

.btn-management {
    border: 1px solid #9FA1A2;
    border-radius: 20px;
    font-size: 13px;
    padding: 3px;
    margin-right: 10px;
    color: #9FA1A2;
    width: 25%;
}

.name-management {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #EFF0F2;
    padding-bottom: 10px;
}

.text-management {
    font-size: 16px;
    font-weight: 600;
}

.label-management {
    font-size: 13px;
    color: #9FA1A2;
}

.status {
    font-size: 13px;
    color: #F39C12;
}

.search-manage-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

/* exercise-name */

.component-exercise {
    padding: 0 10px 0 10px;
}

.infor-exercise {
    font-size: 16px;
    font-weight: 700;
    padding-bottom: 10px;
}

.gr-to-test {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.point-exercise {
    color: #F39C12;
    font-weight: 700;
}

.essay {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-exercise {
    background-color: #F39C12;
    border-radius: 5px;
    color: #ffffff;
    padding: 3px;
}

.input-exercise {
    width: 100%;
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    height: 100px;
    margin-top: 10px;
}