.component-story {
    background-color: #ffffff;
    flex-wrap: wrap;
    /* height: 100vh; */
}

.title {
    display: flex;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.info {
    margin: 20px;
    border: 3px solid #F39C12;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gr-open {
    display: flex;
    padding-bottom: 10px;
}

.total {
    padding: 0 10px 0 10px;
    border-right: 1px solid #F39C12;
    color: #F39C12;
    font-size: 14px;
}

.total-end {
    padding-left: 10px;
    color: #F39C12;
    font-size: 14px;
}

.name {
    font-weight: 700;
    color: #F39C12;
    padding: 10px 0 10px 0;
}

.avt {
    padding-top: 10px;
}

.open-popup {
    padding: 0 20px 20px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logout-popup {
    color: #9FA1A2;
}

.task {
    display: flex;
    justify-content: space-between;
    padding: 0 20px 10px 20px;
}

.label {
    font-size: 21px;
    font-weight: 500;
}

.num {
    font-weight: 700;
}

.completion {
    display: flex;
    align-items: center;
    padding: 0 20px 0 20px;
}

.content {
    font-size: 10px;
    padding: 15px 0 0 10px;
    color: #96989E;

}

.btn-story-app {
    background-color: #F39C12;
    color: #ffffff;
    height: 30px;
    margin-top: 10px;
    border-radius: 50px;
    font-size: 10px;
}

.btn-story-app:hover {
    border: none;
    background-color: #F39C12;
}

.story {
    padding: 20px 20px 0 20px;
}

.label-str {
    font-size: 21px;
    font-weight: 500;
}

.btn-item-app {
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    position: relative;
}

.gr {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.point-story {
    display: flex;
    padding-top: 10px;
    font-size: 14px;
}

.calender {
    position: absolute;
    left: 0;
    margin-top: 40px;
}

/* .ant-picker-panel-container {
    width: 50%;
    font-size: 12px;
} */

@media(max-width: 576px) {
    .ant-picker-panels {
        flex-direction: column;
    }
}