.component {
    background-color: #ffffff;
    margin-top: 100px;
    height: 700px;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.detail {
    padding: 20px;
}

.content {
    font-size: 20px;
    font-weight: 600;
}

.txt {
    color: #9FA1A2;
    font-size: 14px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}

.exercise {
    color: #2F323E;
}

.done {
    color: #2F323E;
}

.list {
    box-shadow: 5px 5px 10px #00000026;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    padding: 10px;
    margin-top: 20px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.about-item {
    display: flex;
}

.task {
    font-size: 11px;
    color: #919191;
}

.line-1 {
    font-size: 14px;
    font-weight: 600;
}

.line-item {
    padding-left: 20px;
    padding-top: 5px;
}

.scores {
    color: #F39C12;
    font-size: 10px;
}

.loading {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5px;
}