.container {
    background-color: #ffffff;
    flex-wrap: wrap;
    min-height: 100vh;
    padding: 0 10px 0 10px;
}

.title {
    display: flex;
    border-bottom: 1px solid #D9D9D9;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.content {
    font-size: 20px;
    font-weight: 600;
    margin-top: 10px;
}

.title-1 {
    font-size: 13px;
    padding-bottom: 10px;
    font-style: italic;
}

.title-2 {
    font-size: 13px;
    font-style: italic;
}

.wrap {
    border: 1px dashed black;
    padding: 5px;
}

.img {
    width: 100%;
}

.content-txt {
    color: #9FA1A2;
    font-size: 14px;
    padding-bottom: 5px;
    padding-top: 5px;
}

.task {
    padding-top: 5px;
    font-size: 13px;
}

.about-item {
    display: flex;
}

.list {
    box-shadow: 5px 5px 10px #00000026;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    padding: 10px;
    margin-bottom: 10px;
}

.btn {
    width: 100%;
    background-color: #F39C12;
    padding: 5px;
    color: #ffffff;
}

.line-title-app {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.task-description-app {
    white-space: nowrap;
    width: 80%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 12px;
    text-align: left;
    color: #919191;
}

.gr-line-item {
    padding-left: 10px;
}