.component {
    background-color: #ffffff;
    margin-top: 100px;
    height: 700px;
}

.title {
    display: flex;
    border-bottom: 1px solid #BDBDBD;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.group {
    display: flex;
    justify-content: space-between;
    padding: 20px 20px 30px 20px;
}

.item {
    border-radius: 10px;
    border: 1px solid #EFF0F2;
    box-shadow: 0 5px 5px #00000026;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    width: 90px;
}

.text {
    font-size: 12px;
}

.num {
    color: #F39C12;
    font-weight: 700;
}

.list {
    box-shadow: 5px 5px 10px #00000026;
    border-radius: 10px;
    border: 1px solid #ebebeb;
    padding-left: 10px;
    padding: 10px;
    margin: 0 10px 20px 10px;
}

.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.line-item {
    padding-left: 10px;
    padding-right: 10px;
}

.task {
    font-size: 10px;
    color: #919191;
}

.about-item {
    display: flex;
}

.loading {
    display: flex;
    align-items: center;
}

.persent {
    color: #919191;
    font-size: 12px;
    margin-right: 5px;
}