.component {
    background-color: #ffffff;
    width: 100%;
    margin-top: 100px;
}

.register {
    padding: 20px;
}

.custom_input {
    width: 100%;
    padding-bottom: 20px;
}

.title {
    display: flex;
    border-bottom: 1px solid #EFF0F2;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
}

.txt_head {
    margin: auto;
    font-size: 24px;
    font-weight: 500;
}

.logout {
    font-size: 24px;
    font-weight: 500;
    text-decoration: none;
    color: black;
    position: absolute;
    left: 20px;
}

.custom-button {
    background-color: #F39C12;
    color: #ffffff;
    height: 45px;
    margin-top: 20px;
}

.custom-button:hover {
    border: none;
}

.btn_action {
    padding-top: 100px;
}

.popup_success {
    margin: auto;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.btn_login {
    background-color: #F39C12;
    color: #ffffff;
}

.btn_login:hover {
    border: none;
}

.img {
    margin: auto;
    padding-top: 10px;
}

.txt {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    text-decoration: none;
}